.c-app {
  &__container {
    margin: 0 auto;
    max-width: 1000px;
    min-height: calc(100% - 100px);
    width: 100%;
  }

  &__header {
    margin-top: 0;
    text-align: center;
  }

  &__footer {
    align-items: center;
    background-color: #eaeaf5;

    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    width: 100%;
  }
}